{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Fechar"></button>
      </div>
    {% endfor %}
  </div>

  <script>
    setTimeout(() => {
      document.querySelectorAll('.alert').forEach(alert => {
        let bsAlert = new bootstrap.Alert(alert);
        bsAlert.close();
      });
    }, 4000); // fecha depois de 4s
  </script>
{% endif %}
